
<div class="row pt-5 mt-5">
    <div class="col-12 col-lg-3 head-block-artist">
      <h3 class="horizontal-header-artiste">Artistes</h3>
      <p class="horizontal-subtitle-artiste">DE TOUT HORIZON</p>
      <p class="line-5"></p>
    </div>
    <div class="col-12 col-lg-9">
    <div class="carousel-body">
      <input type="radio" name="position" checked />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <main id="carousel">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <main>
    </div>

    </div>

</div>

