
<div class="row pt-5 mt-5">
    <div class="col-12 col-lg-3 head-block-artist">
      <h3 class="horizontal-header-artiste">Artistes</h3>
      <p class="horizontal-subtitle-artiste">DE TOUT HORIZON</p>
      <p class="line-5"></p>
    </div>
    <div class="col-12 col-lg-9">
    <div class="carousel-body">
      <input type="radio" name="position" checked />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <main id="carousel">
      <% @artistes.each do |artiste| %>
        <div class="item">
          <div class="artiste_home">
        <% if artiste.photo.attached? %>
            <%= cl_image_tag artiste.photo.key, height: 300, width: 300, crop: :fill %>
        <% end %>
          </div>
        <h2> <%= artiste.name %></h2>
        <h4> <%= artiste.genre %></h4>
        </div>
      <% end %>
        <main>
    </div>

    </div>

</div>

