
<div class="row pt-5 mt-5">
    <div class="col-12 col-lg-4">
      <h3 class="horizontal-header-artiste">Artistes</h3>
      <p class="horizontal-subtitle-artiste">DE TOUT HORIZON</p>
      <p class="line-5"></p>
    </div>
    <div class="col-12 col-lg-8">

    </div>



</div>

