// Place all the styles related to the artistes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra small devices (portrait phones, less than 576px)
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap





.d-block {
    margin: auto;
}

.carousel-indicators > li {
 border-radius: 50%;
 width: 8px;
 height: 8px;
 position: relative;
 top: 40px;
 background-color: white;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
   .d-block {
       margin: auto;
   }

   .carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators > li {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: relative;
    top: 40px;
  }

  .citations_index{
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
  }

  .artiste_index{
    text-align: center;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 64px;
  }
  .a_index{
  }

 }
 