html, body {
  background-color: #FFEAED;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main-header-1 {
  position: absolute;
  left: 257px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  width: 556px;
  position: static
 }

@media(max-width: 992px) {
.main-header {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  width: 556px;
  position: static;
 }
}

@media(max-width: 768px) {

.main-header {
  font-family: $headers-font;
  font-size: 64px;
  position: absolute;
  left: 257px;
 }
}

@media(max-width: 576px) {
.main-header {
  font-family: $headers-font;
  font-size: 64px;
  position: absolute;
  left: 240px;
 }
}

@media(max-width: 320px) {
.main-header {
  font-family: $headers-font;
  font-size: 64px;
  position: absolute;
  left: 240px;
 }
}

.sub-title {
  font-size: 22px;
  position: absolute;
  top: 222px;
  left: 445px;
  position: static
}

@media(max-width: 992px) {
  .sub-title {
  position: absolute;
  left: 199px;
  font-size: 22px;
  top: 81px;
  }
}

@media(max-width: 768px) {
  .sub-title {
  font-size: 16px;
  position: absolute;
  right: 27px;
  width: 230px;
  }
}

@media(max-width: 576px) {
  .sub-title {
  font-size: 16px;
  position: absolute;
  left: 259px;
  width: 230px;
  top: 80px;
  }
}

@media(max-width: 320px) {
  .sub-title {
  font-size: 16px;
  position: absolute;
  left: 495px;
  width: 230px;
  }
}

.text-welcome {
  position: absolute;
  top: 70px;
  padding-left: 621px;
  width: 85%;
  font-size: 18px;
  }

@media(max-width: 992px) {
.text-welcome {
  position: absolute;
  top: 120px;
  right: 355px;
  width: 117%;
  }
}

// Iphone 6/7/8
@media(max-width: 768px) {
.text-welcome {
  font-size: 16px;
  position: absolute;
  right: 300px;
  width: 135%;
  padding-right: 20px;
  }
}

@media(max-width: 576px) {
.text-welcome {
  font-size: 16px;
  position: absolute;
  right: 140px;
  width: 195%;
  padding-right: 20px;
  top: 108px;
  }
}

@media(max-width: 320px) {
.text-welcome {
  font-size: 16px;
  position: absolute;
  left: 245px;
  width: 430px;
  padding-right: 20px;
  top: 265px;
  }
}

.youtube-home {
  position: relative;
  left: 22px;
  top: 70px;
  border-radius: 25%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  width: 50%;
}

@media(max-width: 992px) {
.youtube-home {
  position: relative;
  left: 90px;
  border-radius: 25%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  top: 177px;
  }
}

@media(max-width: 768px) {
.youtube-home {
  position: relative;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  left: 15px;
  width: 95%;
  top: 165px;
  }
}

@media(max-width: 576px) {
.youtube-home {
  position: relative;
  left: -30px;
  width: 490px;
  top: 155px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  }
}

@media(max-width: 320px) {
.youtube-home {
  position: relative;
  left: 240px;
  width: 490px;
  top: 300px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  }
}

.home-1 {
  position: relative;
  left: 70px;
}

.home-2 {
  position: relative;
  top: 140px;
  left: 200px;
}

.main-header-2 {
  position: absolute;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  right: 683px;
  width: 49%;
}

@media(max-width: 992px) {
.main-header-2 {
  position: absolute;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  right: 155px;
  width: 95%;
  top: 44px;
  }
}

@media(max-width: 768px) {
.youtube-home {
  position: relative;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  right: 155px;
  width: 95%;
  top: 44px;
  }
}

.wwd-img {
  position: absolute;
  top: 180px;
  right: 915px;
}

@media(max-width: 992px) {
.wwd-img {
  position: absolute;
  top: 218px;
  right: 790px;
  }
}

@media(max-width: 768px) {
.wwd-img {
  position: absolute;
  top: 218px;
  right: 581px;
  }
}

.wwd-text {
  position: absolute;
  font-size: 24px;
  width: 563px;
  top: 275px;
  left: 275px;
}

@media(max-width: 992px) {
.wwd-text {
  position: absolute;
  font-size: 24px;
  width: 475px;
  top: 275px;
  left: 187px;
  }
}

@media(max-width: 768px) {
.wwd-text {
  position: absolute;
  font-size: 24px;
  width: 374px;
  top: 265px;
  left: 145px;
  }
}

.home-3 {
  position: relative;
  top: 315px;
  left: 58px;
}

.citations {
  position: relative;
  top: 411px;
  left: 43px;
}

.home-4 {
  position: relative;
  top: 790px;
  left: 195px;
}

.main-header-4 {
  font-weight: 800;
  font-size: 64px;
  left: 100px;
  line-height: 78px;
  position: absolute;
}

.artistes-home {
  // position: relative;
  // top: 500px;
}

.home-5 {
  position: relative;
}

// @media(max-width: 992px) {
// .line-1 {
//   font-family: "Open Sans";
//   text-align: center;
//   position: absolute;
//   width: fit-content;
//   margin: 0 auto;
//   bottom: 75%;
//   left: 69%;
//   }
// }

// @media(max-width: 768px) {
// .line-1:before {
//   content: "";
//   height: 2px;
//   width: 375px;
//   background: #9f3346;
//   position: absolute;
//   left: -40px;
//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 7;
//   }
// }

// @media(max-width: 992px) {
// .line-2 {
//   font-family: "Open Sans";
//   text-align: center;
//   position: absolute;
//   width: fit-content;
//   margin: 0 auto;
//   bottom: 73%;
//   left: 69%;
//   }
// }

// @media(max-width: 768px) {
// .line-2:before {
//   content: "";
//   height: 2px;
//   width: 230px;
//   background: #9f3346;
//   position: absolute;
//   left: 105px;
//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 7;
//   }
// }

.admin-sign {
  position: absolute;
  bottom: 0px;
}

