body {
  background-color: #FFEAED;
}

h1 {
  padding-left: 110px;
}

.sub-title {
  padding-left: 288px;

}

.home-photo {
  position: absolute;
  width: 926px;
  height: 448px;
  left: 215px;
  top: 375px;
}

.text-size {
  position: absolute;
  width: 300px;
  height: 137px;
  left: 889px;
  top: 266px;
}

.what-we-do-title {
  padding-top: 660px;
  padding-left: 70px;
}

.WWD {
  padding-left: 120px;
  margin-top: 25px;
  position: relative;
}

.wwd-text {
  width: 980px;
  padding-left: 485px;
  position: absolute;
}
