body {
  background-color: #FFEAED;
}

h1 {
  padding-left: 110px;
}

.main-header {
  font-size: 64px;
}

.sub-title {
  padding-left: 275px;
  font-size: 22px;

}

.home-photo {
  position: absolute;
  width: 926px;
  height: 448px;
  left: 215px;
  top: 375px;
}

.text-size {
  position: absolute;
  width: 300px;
  height: 137px;
  left: 889px;
  top: 266px;
  font-size: 18px;
}

.what-we-do-title {
  padding-top: 660px;
  padding-left: 70px;
}

.WWD {
  padding-left: 120px;
  margin-top: 25px;
  position: relative;
}

.wwd-text {
  height: 117px;
  width: 445px;
  position: relative;
  bottom: 235px;
  left: 550px;
  z-index: 1;
  font-size: 24px;
}

.WWD-title {
  font-size: 64px;
}

