.img-s-artiste{
  width: 100%;
}

.bio-s-title, .dessous-s-title{
  font-size: 24px;
  font-weight: 800;
  font-family: Montserrat;
  margin-top: 10px;
  margin-bottom: 25px;
}

.bio-s, .dessous-s{
  font-size: 28px;
  font-weight: 400;
  font-family: Volkhov;
  margin-bottom: 25px;
  //line-height: 36,12px !important;
}


/* For mobile tablets: */
@media(min-width: 768px) {
    .artiste-genre{
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        padding-right: 60px;
    }
    .img-s-artiste{
        display: block;
        margin: auto;
        margin-top: 15px;
				border-radius: 10px;
    }
    .artiste-description{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .main-header-show {
      font-size: 72px;
      font-weight: 800;
      text-align: center;
    }
  }

/* For mobile phones: */
@media(min-width: 576px) {
    .artiste-genre{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    .img-s-artiste{
        margin-top: 85px;
				border-radius: 10px;
    }
		.artiste-description{
			padding-top: 25px;
			padding-bottom: 25px;
		}
    .main-header-show {
      font-size: 72px;
      font-weight: 800;
      text-align: center;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .show_artiste{
    padding-top: 200px;
  }

  .artiste-genre{
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding-right: 80px;
}
  .img-s-artiste{
    border-radius: 10px;
    margin-top: 85px;
  }
  .artiste-description{
      text-align: justify;
      width: 557px;
      height: 317px;
      position: absolute;
      top: 270px
  }
  .main-header-show {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    }

  .biography, .dessous, .dernieres{
  display: flex;
  padding-top: 70px ;
  padding-bottom: 70px;
  }

  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  #show-container {
    position: relative;
    top:150px;
  }



}

.img-s-reseau{
  width: 237px;
  height: 420px;
}



.main-header-show {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
  }


  .artiste-description{
 font-family: 'Volkhov', serif;
 font-weight: 400;
 font-size: 24px;
}