<div class="container ml-5 pl-5">
  <h1><strong>Que l'artiste</strong></h1>
  <h4 class="sub-title">Les entrevues plaisir</h4>
</div>
<div class="container text-size">
  <p>Bienvenue, tu veux découvrir des talents en plein essor venant de Montréal et plus largement du Québec ? Tu es à la bonne place !</p>
</div>
<div class="container">
  <img src="/assets/HOME-IMG" class="home-photo"/>

</div>


