<div class="container">
  <div>
    <h1 class="display-3"><strong>Que l'artiste</strong></h1>
    <h4 class="sub-title">Les entrevues plaisir</h4>
  </div>
  <div class=" text-size">
    <p>Bienvenue,<br> tu veux découvrir des talents en plein essor venant de Montréal et plus largement du Québec ? <br> Tu es à la bonne place !</p>
  </div>
  <div>
    <%= image_tag "HOME-IMG.png", class:"home-photo mt-5" %>
  </div>
  <div class="what-we-do-title">
    <h1 class="display-3"><strong>Fait par et pour<br> les artistes</strong></h1>
    <%= image_tag "WWD.png", class:"WWD" %>
  </div>
    <p class="wwd-text">En tant que média indépendant, Que L’Artiste vous emmène dans l’univers des artistes montréalais. Nous proposons une solution au manque de diffusion pour les créateurs.</p>
</div>
