<div class="container">
      <h1 class="main-header">Que l'artiste</h1>
      <h4 class="sub-title">Les entrevues plaisir</h4>
    <br>
    <p class="text-welcome">Bienvenue,<br> tu veux découvrir des talents en plein essor venant de Montréal et plus largement du Québec ? <br> Tu es à la bonne place !</p>
    <div class="youtube-home">
      <iframe width="480" height="360" src="https://www.youtube.com/embed/ozHgsLa3q40" allowfullscreen></iframe>
    </div>
</div>



    <%# <h1 class="line-1"></h1>
    <h1 class="line-2"></h1> %>


