<div class="container">
  <div>
    <h1 class=" main-header"><strong>Que l'artiste</strong></h1>
    <h4 class="sub-title">Les entrevues plaisir</h4>
  </div>
  <div class=" text-size">
    <p>Bienvenue,<br> tu veux découvrir des talents en plein essor venant de Montréal et plus largement du Québec ? <br> Tu es à la bonne place !</p>
  </div>
  <div>
    <%= image_tag "HOME-IMG.png", class:"home-photo mt-5" %>
  </div>

  <div class="what-we-do-title">
    <h1 class="display-3 WWD-title"><strong>Fait par et pour<br> les artistes</strong></h1>
    <%= cl_image_tag("j1ymuntctt6klxdkbxox",
class:"WWD") %>
  </div>
    <p class="wwd-text mb-5">En tant que média indépendant, Que L’Artiste vous emmène dans l’univers des artistes montréalais. Nous proposons une solution au manque de diffusion pour les créateurs.</p>
  <div>

  </div>
</div>

<div>
    <ul class="navbar-nav mr-auto ">

      <% if user_signed_in? %>

        <li class="nav-item dropdown ">
          <div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
          </div>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Admin", new_user_session_path, class: "btn btn-light" %>
        </li>
      <% end %>
    </ul>
  </div>
