
<div class="container">
  <h1>Les dernières nouveautés</h1>
  
  <% @nouveautes.each do |nouveaute| %>
  <div> <%=  nouveaute.citation%> </div>
  <% end  %>
<div>
   <%= render "nouveautes/last3citations", nouveautes: @nouveautes %>
</div>
       <%# <p><%= nouveaute.citation %>
</div>

      <%# <%= link_to "aller voir", artiste_nouveautes_path(nouveaute), class: 'btn btn-primary' %>


