  <div class="interview-index">
    <div class="row">
      <div class="col-12 col-lg-3 animation-2">
        <h3 class="horizontal-entrevue-n">NOUVELLE ENTREVUE</h3>
        <p class="horizontal-entrevue-subtitle-n">PLAISIR</p>
        <p class="line-4-n"></p>
      </div>
      <%= render "nouveautes/carousel" %>
    </div>
  </div>