

      <%# <%= link_to "aller voir", artiste_nouveautes_path(nouveaute), class: 'btn btn-primary' %>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <% @nouveautes.each do |nouveaute| %>
    <div class="carousel-item">
    <%= cl_image_tag nouveaute.artiste.photo.key, height: 300, width: 600, crop: :fill, class: "d-block w-100 rounded", style: "object-fit:cover" %>
    </div>
     <% end  %>
  </div>
</div>


