<div class="container">
  <%= simple_form_for([@artiste, @nouveaute]) do |f| %>
    <%= f.input :citation %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to "Retour", artiste_nouveautes_path(), class: 'btn btn-primary' %>
</div>
