<h1>this is nouveaute show</h1>

<div>
  <p><%= @nouveaute.citation %></p>
</div>

<div>
  <%= link_to "edit", nouveaute_path, , method: :putch, class: "btn btn-warning" %>
</div>
<div>
  <%= link_to "Supprimer", nouveaute_path, method: :delete, class: 'btn btn-danger' %>
</div>
<div>
  <%= link_to "back to list", artiste_nouveautes_path, class: "btn btn-primary" %>
</div>
