<h1>this is nouveaute show</h1>


<%= link_to "supprimer nouveauté de #{@nouveaute.name}", nouveaute_path(@nouveaute), method: :delete, class: 'btn btn-danger rounded-pill', data: { confirm: 'Êtes vous sûr de vouloir supprimer cette nouveauté ?' } %>