
.card-s-youtube {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 161px;
  width: 176px;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  right: 15px;
  }
  
  .card-s-youtube > img {
    height: 118px;
    width: 100%;
    object-fit:cover;
  }
  
  .card-s-youtube h2 {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    background-color: black;
    color: white;
  }
  
  .card-s-youtube p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  
  
  .card-s-youtube .card-s-youtube-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  
  .card-s-youtube-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .fa-play-circle{
      color: #91192F;
  }

  :hover.fa-play-circle{
    color: blue;
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .card-s-youtube {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .card-s-youtube {
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .card-s-youtube {
    bottom: 20px;
    right: -120px;
  }
}

