.a_index {
    text-align: center;
}

.artiste_index{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.citations_index{
    text-align: center;
    font-family: Volkhov;
    font-size: 18px;
    font-weight: 400;
}


.genre_index{
    font-size: 8px;
    text-align: center;
    margin-bottom: 13px;
}


@media (min-width: 1200px) {
    .a_index {
        width: 700px;
    }


    .artiste_index{
        text-align: center;
        font-size: 64px;
        font-weight: 800;
    }

    .citations_index{
        text-align: justify;
        font-family: Volkhov;
        font-size: 18px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .genre_index{
        font-size: 18px;
        text-align: center;
        font-weight: 500;
    }

    // 
    
    

    .a_index .genre_index .artiste_index{
        align-self: center;

    }

    .carousel-position-index {
    width: 70%;

    }
}
