.artiste_index{
    text-align: center;
    font-size: 32px;
}

.citations_index{
    text-align: center;
}

.genre_index{
    font-size: 8px;
    text-align: center;
}

.a_index{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
}

.a_index .genre_index .artiste_index{
    align-self: center;
}