.contact-form-home {
  position: relative;
  top: 200px;
}

.position-form {
  position: relative;
  right: 100px;
  bottom: 145px;
}

.main-header-6 {
    position: relative;
    top: -314px;
    right: 27px;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    width: 556px;
    left: 190px;
  }
