
.fa-instagram{
  color: black;
  font-size: 25px;
}
:hover.fa-instagram{
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
/* Also define standard property for compatibility */
background-clip: text;
-webkit-text-fill-color: transparent;
}

.fa-tiktok{
color: black;
font-size: 20px;
}
:hover.fa-tiktok{
color: #111111;
filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}
  
.fa-youtube{
  color: black;
  font-size: 27px;
}
:hover.fa-youtube{
  color: red;
}

.fa-spotify{
  color: black;
  font-size: 25px;
}

:hover.fa-spotify{
 color:  #81b71a;
}


//  img iphone a pas afficher vu telephone

@media (max-width: 1200px) {

.img-s-reseau1 {
  display: none;
  width: 420px;
}
  
.img-s-reseau2{
  display: none;
  width: 420px;
}

.img-s-reseau3 {
  display: none;
  width: 420px;
}

.img-s-reseau4 {
  display: none;
  width: 420px;
}

// titre

.ecriture_insta{
  font-size: 15px;
  font-weight: 900;
}

.ecriture_spotify{
  font-size: 15px;
  font-weight: 900;
}

.ecriture_youtube{
  font-size: 15px;
  font-weight: 900;
}

.ecriture_tiktok{
  font-size: 15px;
  font-weight: 900;
}

.iphone1 , .iphone2 {
  text-align: center;
}

.iphone1bis , .iphone2bis {
  display: none;
}

.iphones{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.title_logo {
  margin-bottom: 10px;
}
}

@media (min-width: 1200px) { 


.iphonetest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 10px;
}

.iphone1{
  display: flex;
  flex-direction: row;
}

.img-s-reseau1 {
  height: 547px;
  width: 262px;
}

.img-s-reseau2 {
  height: 547px;
  width: 262px;
}

.img-s-reseau3 {
  height: 547px;
  width: 262px;
}

.img-s-reseau4 {
  height: 547px;
  width: 262px;
  }

// // titre 

// h3.horizontal-show-insta {
//   font-size: 10px;
// }

// h3.horizontal-show-spotify {
//   font-size: 10px;
//   font-weight: 900;
// }

.ecriture_insta{
  transform: rotate(-90deg);
  font-size: 24px; 
  font-family: Montserrat;
  letter-spacing: 20px;
  font-weight: 900;
}

.ecriture_spotify{
  transform: rotate(-90deg);
  font-size: 24px; 
  font-family: Montserrat;
  letter-spacing: 20px;
  margin-bottom: 130px;
  font-weight: 900;
}

.ecriture_tiktok{
  transform: rotate(-90deg);
  font-size: 24px; 
  font-family: Montserrat;
  letter-spacing: 20px;
  margin-bottom: 180px;
  font-weight: 900;
}

.ecriture_youtube{
  transform: rotate(-90deg);
  font-size: 24px; 
  font-family: Montserrat;
  letter-spacing: 20px;
  margin-bottom: 120px;
  font-weight: 900;
}
// // couleur logo insta et spotify

#instagram{
  position: relative;
  bottom: -35px;
}

#spotify{
  position: relative;
  bottom: 80px;
}

#youtube{
  position: relative;
  bottom: 70px;
}

#tiktok{
  position: relative;
  bottom: 130px;
}
}