.cards {
    text-align: center;
}



@media (min-width: 1200px) { 
    .cards {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px 25px;
    }
}